/* General styling */

.content {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: justify;
    word-wrap: break-word;
}

.content p {
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Navbar brand */

.navbar-default {
    background-color: #0f80ef;
    border-style: none;
    border-radius: 0px;
}

.navbar-default .navbar-brand {
    color: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:visited {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: #0f59ef;
}

/* Navbar menu item */

.nav.navbar-nav .menu-item {
    -webkit-transition: background-color 0.3s;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s;
}

.nav.navbar-nav .menu-item:active,
.nav.navbar-nav .menu-item:visited {
    color: #fff;
}

.nav.navbar-nav .menu-item:hover {
    color: #fff;
    background-color: #0f59ef;
}

.nav.navbar-nav .menu-item.menu-mark {
    color: #0f80ef;
    background-color: #fff;
}

.nav.navbar-nav .menu-item.menu-mark:hover {
    color: #0f59ef;
}

/* Anchors in articles */

a.anchor:link, a.anchor:visited {
    color: #ccc;
}

a.anchor:hover, a.anchor:active {
    text-decoration: none;
    color: #337ab7;
}

/* Other */

label {
    font-weight: normal;
}

li.open #dropdown-profile.menu-item {
    color: #fff;
    background-color: #0f59ef;
}
